body {
  display: flex;
  flex-direction:column;
  align-items: center;
}

#header-stuff {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
  text-align: center;
}

.checkbox-label {
  font-size: 14px;
  text-align:left;
}

#container {
    display:flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    border-style: dotted;
    border-width: 1px;
    margin: 16px;
    padding: 16px;
    touch-action: none;
}

.grid-row {
    flex: 1;
    display: flex;
    justify-content:center;
    gap: 0px;
}

.grid-square {
    flex: 1;
    background-color: 'white';
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;   
    opacity: 0.5;
    margin: 0;
}