#container {
    width: 567px;
    height: 567px;
    border-style: dotted;
    border-width: 1px;
    margin: 16px;
    padding: 16px;
}

.grid-row {
    display: flex;
    justify-content:center;
    gap: 0px;
}

.grid-square {
    width: 32px;
    height: 32px;
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px;
    margin: 0;
}

.marked {
    background-color:rebeccapurple;
}